before_install:
 - sudo add-apt-repository ppa:trevorbernard/zeromq -y
 - sudo apt-get update -y
 - sudo apt-get install libpgm-dev make build-essential pkg-config libtool automake -y
 - git clone git://github.com/jedisct1/libsodium.git
 - cd libsodium
 - ./autogen.sh
 - ./configure && make
 - sudo make install
 - sudo ldconfig
 - cd ..
 - git clone https://github.com/zeromq/libzmq.git
 - cd libzmq
 - ./autogen.sh
 - ./configure --with-libsodium && make
 - sudo make install
 - sudo ldconfig
 - cd ..
 - ./autogen.sh
 - ./configure
 - make
 - sudo make install
install: mvn install --quiet -DskipTests=true -Dgpg.skip=true
language: java

script: mvn test

jdk:
 - openjdk6
 - openjdk7
